@model IEnumerable<MayBook.User>

@{
    ViewBag.Title = "Результаты поиска";
}
@foreach (var user in Model)
{
    <a href="/Page/Index/@user.UserId">@user.Name</a><br />
    <p>@user.RegisterDate.ToLongDateString()</p>
    <img src="../../@user.Avatar" />    
}
